<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="p-0 m-0 " style="overflow-x:hidden;">
    <nav class="navbar navbar-dark bg-dark py-3">
        <a class="navbar-brand" href="#">
            <img src="~/Content/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Monash Library
        </a>

        @if (User.Identity.IsAuthenticated)
        {
            <h6 class="text-white">Welcome - @User.Identity.Name</h6>

        }

        @if (User.Identity.IsAuthenticated)
        {

            @Html.ActionLink("Logout", "Logout", "Acount", null, new { @class = "btn btn-primary" })
        }

    </nav>
    <div class="container-fluid mb-5">
        @RenderBody()


    </div>
    <footer class="bg-dark fixed-bottom ">
        
        <div class="row py-3 bg-primary">
            <div class="col-12 text-center text-white">
                Copyrights <i class="fa fa-copyright" aria-hidden="true"></i> 2020 Monash Library
            </div>
        </div>

    </footer>

    @*    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
