
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LibraryManagement.Models.User
<link href="~/Content/custom/Login.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-5 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="form-label-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control rounded w-100", @placeholder = "Email Address", @id = "inputEmail" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control rounded", @placeholder = "Enter Passsword", @id = "inputPassword" })
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                            <label for="inputPassword">Password</label>
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button class="btn btn-lg btn-primary btn-block text-uppercase rounded" type="submit">Login</button>

                    }

                </div>
            </div>
        </div>
    </div>
</div>

