
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Dashboard/Index.cshtml";
}

@using LibraryManagement.Models;

@model List<Transaction>

@if (User.IsInRole("Librarian"))
{
    <div class="row mb-3">
        <div class="col-12">
            <a class="btn btn-primary float-right" href="/Dashboard/Books/Create">Create</a>
        </div>
    </div>
}



<table class="table" id="allstudent">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Year Of Publishion</th>
            <th scope="col">No Of Pages</th>
            <th scope="col">Available</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Book.Title</td>
                <td>@book.Book.Author</td>
                <td>@book.Book.Publisher</td>
                <td>@book.Book.YearOfPublication</td>
                <td>@book.Book.NoOfPages</td>
                <td>@book.Book.Publisher</td>
                <td><a href="MyBook/@book.TransactionId">View</a></td>
            </tr>
        }
    </tbody>
</table>
